//=============================================================================
// IMPORTS
//=============================================================================

@import "../bower/HTML5-Reset/assets/css/reset";

@import "../bower/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
@import "../bower/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_grid-framework.scss";
@import "../bower/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_grid.scss";
@import "../bower/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_clearfix.scss";
@import "../bower/bootstrap-sass/assets/stylesheets/bootstrap/_grid.scss";

//=============================================================================
// COLORS
//=============================================================================

$black: black;

//=============================================================================
// STYLES
//=============================================================================

a, a:visited {
    text-decoration: none;
    color: $black;
}

html {
    overflow-y: scroll;
}

body, input {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400; // regular
    font-size: 14px;
    color: $black;
}

body {

}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100px;
    padding-left: 60px;
    border-bottom: 1px solid #e6e6e6;
    margin: 0 auto;
    background: #fff;
}

h1 {
    flex-basis: 200px;
    font-size: 20px;
    padding-top: 63px;
}

/*
h3 {
    font-size: 14px;
    font-weight: 600; // semi-bold
    text-transform: capitalize;
    margin-bottom: 10px;
}
*/

// tabs
.nav-tabs {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    padding-top: 70px;
    
    li {
        flex-basis: 120px;
        text-align: center;
        
        a {
            display: block;
            height: 30px;
            margin-right: 40px;
            text-indent: 2px;
            color: $black;
        }
        
        &:last-child {
            a {
            }
        }
    
        &.active {
            a {
                border-bottom: 2px solid $black;
            }
        }
    }
}

.palette {
    display: flex;
    align-content: flex-start;
    width: 100%;
    height: 180px;
    margin-top: 100px;
    padding: 0 50px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 30px;
    background: url(../img/stripe_07124988ed2a06d6779512c020f61af9.png);
    
    p {
        flex: 1;
        align-self: center;
        text-align: center;
    }
}

// tab content
.tab-content {
    .tab-pane {
        display: none;
        flex-wrap: wrap;
        padding: 0 50px;
        
        &.active {
            display: flex;
        }
    }
}

.swatch {
    //display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin: 0 30px 30px 0;
    //transition: all 0.15s ease-in-out;
    
    &:after {
        content: '';
        position: absolute;
        display: inline-block;
        left: 50%;
        top: 50%;
        font-size: 40px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin-left: -10px;
        margin-top: -11px;
        color: rgba(255, 255, 255, 0.5);
    }
    
    // hover in unselected state
    &:hover {
        //transform: scale(1.3);
        cursor: pointer;
    }
    
    .tab-pane &:not(.added):hover:after {
            content: '+';
    }
    
    .palette & {
        align-self: center;
        margin-bottom: 0;
    }
    
    .palette &:hover:after{
        content: '-';
        margin-left: -6px;
        margin-top: -14px;
    }
    
    &.added:after {
        content: 'v';
    }
}

ul.unstyled {
    font-size: 13px;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;

    li {
        margin-bottom: 0;
        line-height: 1.3;
        border-top: 1px solid #e3e3e3;
        padding: 5px 0;
        
        &:hover {
            cursor: pointer;
            background: #f3f3f3;
        }
        
        &:last-child {
            border-bottom: 1px solid #e3e3e3;
        }
        
        span {
            display: inline-block;
            width: 25%;
        }
        
        input {
            display: inline-block;
            width: 75%;
            text-align: right;
            background: transparent;
            border: none;
            
            &:hover {
                cursor: pointer;
                background: #f3f3f3;
            }
        }
    }
}