//=============================================================================
// IMPORTS
//=============================================================================

@import "../bower/HTML5-Reset/assets/css/reset";

@import "../bower/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
@import "../bower/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_grid-framework.scss";
@import "../bower/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_grid.scss";
@import "../bower/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_clearfix.scss";
@import "../bower/bootstrap-sass/assets/stylesheets/bootstrap/_grid.scss";

//=============================================================================
// VARIABLES
//=============================================================================

$black: black;
$light-gray: #e6e6e6;
$palette-height: 180px;

//=============================================================================
// STYLES
//=============================================================================

a, a:visited {
    text-decoration: none;
    color: $black;
}

html, body {
    height: 100%;
}

html {
    overflow-y: scroll;
}

body {
    //display: flex;
}

body, input {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400; // regular
    font-size: 14px;
    color: $black;
}

.controls {
    position: absolute;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 240px;
    top: 0;
    bottom: 0;
    padding: 60px 0 0 60px;
    border-right: 1px solid $light-gray;
    
    &::-webkit-scrollbar { width: 0 !important }
    
    h1 {
        font-size: 20px;
        margin-bottom: 92px;
    }
    
    h2 {
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }
    
    // tabs
    .nav-tabs {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: flex-start;
        margin-bottom: 20px;
        
        li {
            flex-basis: 40px;
            
            a {
                display: block;
                height: 25px;
                text-indent: 2px;
                color: $black;
                text-transform: capitalize;
            
                &:hover {
                    background: yellow;
                }
            
            }
            
            &:last-child {
                a {
                }
            }
        
            &.active {
                a {
                }
            }
        }
    }
}

.colors {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 240px;
}

.colors {
    
}



.palette {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-content: flex-start;
    width: 100%;
    height: $palette-height;
    padding: 0 40px;
    border-bottom: 1px solid $light-gray;
    background: url(../img/stripe_07124988ed2a06d6779512c020f61af9.png);
    
    p {
        flex: 1;
        align-self: center;
        text-align: center;
    }
    
    .clear-palette {
        display: none;
        position: absolute;
        right: 0;
        padding: 5px 10px;
        border-left: 1px solid $light-gray;
        border-bottom: 1px solid $light-gray;
        background: #fff;
        cursor: pointer;
    }
}

// tab content
.tab-content {
    position: absolute;
    top: $palette-height;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 40px;
    
    &::-webkit-scrollbar { width: 0 !important }
    
    .tab-pane {
        display: none;
        flex-wrap: wrap;
        
        &.active {
            display: flex;
        }
    }
}

.swatch {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 30px 30px 0;
    
    &:after {
        content: '';
        position: absolute;
        display: inline-block;
        left: 50%;
        top: 50%;
        font-size: 40px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin-left: -10px;
        margin-top: -11px;
        color: rgba(255, 255, 255, 0.5);
    }
    
    // hover in unselected state
    html.no-touch &:hover {
        cursor: pointer;
    }
    
    html.no-touch .tab-pane &:not(.added):hover:after {
            content: '+';
    }
    
    .palette & {
        align-self: center;
        margin-bottom: 0;
    }
    
    html.no-touch .palette &:hover:after{
        content: '-';
        margin-left: -6px;
        margin-top: -14px;
    }
    
    &.added:after {
        content: 'v';
    }
}
