//=============================================================================
// IMPORTS
//=============================================================================

@import "../bower/HTML5-Reset/assets/css/reset";

@import "../bower/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
@import "../bower/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_grid-framework.scss";
@import "../bower/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_grid.scss";
@import "../bower/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_clearfix.scss";
@import "../bower/bootstrap-sass/assets/stylesheets/bootstrap/_grid.scss";

//=============================================================================
// VARIABLES
//=============================================================================

$black: black;
$gray: #adadad;
$light-gray: #e6e6e6;
$lightest-gray: #f9f9f9;
$palette-height: 210px;
$yellow: #ffffc3;
$button-height: 40px;

//=============================================================================
// STYLES
//=============================================================================

a, a:visited {
    text-decoration: none;
    color: $black;
}

html, body {
    height: 100%;
}

html {
    //overflow-y: scroll;
}

body {
    display: flex;
    flex-direction: column;
}

body, input {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400; // regular
    font-size: 14px;
    color: $black;
}

header {
    height: 61px;
    background: $lightest-gray;
    border-bottom: 1px solid $light-gray;
    user-select: none;
    cursor: default;
    
    h1 {
        height: 20px;
        line-height: 20px;
        padding-left: 35px;
        background: url(../img/e.svg) left center no-repeat;
        margin-top: 20px;
    }
    
    .palette-tabs {
        display: flex;
        align-items: flex-end;
        height: 61px;
        overflow: hidden;
        //background: #f9f9f9;
        
        li {
            
            // styles everything
            a {
                display: block;
                height: $button-height;
                line-height: 38px;
                cursor: pointer;
            }
            
            // styles the palette tabs
            &:not(:last-child) {
                
                margin-right: 10px;
                
                a { 
                    border: 1px solid $light-gray;
                    padding: 0 20px;
                    
                    &:hover {
                        //background: red;
                    }
                }
                
                &.active {
                    a {
                        background: #fff;
                        border-bottom-color: #fff;
                        cursor: default;
                    }
                }
            }
            
            // styles just the add palette button
            &:last-child {
                a {
                    width: 25px;
                    height: 23px;
                    border: 1px solid #e6e6e6;
                    line-height: 19px;
                    padding: 0;
                    bottom: 10px;
                    position: relative;
                    text-align: center;
                    font-weight: 400;
                    font-size: 22px;
                
                    &.disabled {
                        opacity: 0.2;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}

.palette-container {
    position: relative;
    background: url(../img/stripe_07124988ed2a06d6779512c020f61af9.png);
    border-bottom: 1px solid $light-gray;
    
    .gradient-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    }

    .palette {
        display: none;
        align-content: flex-start;
        height: 200px;
        
        &.active {
            display: flex;
        }
    }
}

.swatch {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 30px 30px 0;
    
    &:after {
        content: '';
        position: absolute;
        display: inline-block;
        left: 50%;
        top: 50%;
        font-size: 40px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin-left: -10px;
        margin-top: -11px;
        color: rgba(255, 255, 255, 0.5);
    }
    
    // hover in unselected state
    html.no-touch &:hover {
        cursor: pointer;
    }
    
    html.no-touch .tab-pane &:not(.added):hover:after {
        content: '+';
    }
    
    .palette & {
        align-self: center;
        margin-bottom: 0;
    }
    
    html.no-touch .palette &:hover:after{
        content: '×';
        margin-left: -10px;
        margin-top: -10px;
    }
    
    &.added:after {
        content: '✓';
    }
    
    &.add {
        border: 1px solid $light-gray;
        
        &:after {
            content: '+';
            color: $light-gray;
        }
    }
}

.color-sets-container {
    flex: 1;
    position: relative;
    
    .container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        
        &::-webkit-scrollbar { width: 0 !important }
        
        .col-sm-2 {
            position: fixed;
            padding-top: 40px;
        }
    }
    
    h2 {
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 30px;
    }
    
    ul.color-sets {
        li {
            text-transform: capitalize;
            
            &.active {
                
                font-weight: 600;
                
                a {
                    color: $black;
                    cursor: default;
                }
            }
            
            a {
                display: block;
                height: $button-height;
                color: $gray;
                cursor: pointer;
            }
        }
    }

    .colors {
        position: relative;
        
        // tab content
        .tab-content {
            padding-top: 40px;
    
            .tab-pane {
                display: none;
                flex-wrap: wrap;
                
                &.active {
                    display: flex;
                }
            }
        }
    }
}
